/*container*/
.contenedorPrincipal{
  display: flex;
  flex-flow: row wrap;

  /*display:flex;
  flex-wrap:wrap;*/
  background: black;
}
header{
  background: red;
  display:flex;
  flex-direction:row;
}
nav{
  display:flex;
  width:1400px;
  flex-direction:row;
  justify-content: flex-end;
}
.listaX{
    display:flex;
    flex-direction:row;
    justify:flex-end;
    border-top:2px solid black;
    padding:3px;
  }

.imagenes{
  width: 200px;
  height: 200px;
  flex-direction:row;
}
article{
  display:flex;
  flex-flow: row wrap;
}
.contenedorPrincipalImg{
  display: flex;
  flex-direction:row;
  order:1;
}
.contenedorImg{
  display:flex;
  flex-wrap:nowrap;
  flex-direction:column;

}
.colorBlanco{
  color:white;
}
.parrafo{
  order:2;
}
