/*container*/
.contenedorPrincipal{
  display:flex;
  flex-wrap:wrap;
  background: black;
}
header{
  background: red;
  display:flex;
  flex-direction:row;
}
nav{
  display:flex;
  width:1300px;
  flex-direction:row;
}
.listaX{
    display:flex;
    flex-direction:row;
    justify:flex-end;
  }
.imagenes{
  width: 20%;
}
